@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #007BFF;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 50%;
  border: 3px solid #007BFF;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #bb0fad;
}

.searchTerm:focus{
  color: #092b9bd7;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #007BFF;
  background: #007BFF;
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 20%;
  right: -13%;
  transform: translate(-50%, -50%);
}