<div class="container" id="main-container">
<h1>Order API</h1>
<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" (click)="newOrder()">
        [+] Tambah Data Order
    </button>
</p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Reference</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
    </tbody>
  </table>
  
  <!-- Modal Add-->
  <div class="modal fade" id="addOrderModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buat Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <!-- Reference : {{orderReference.reference}} -->
            <form #addOrderDetail="ngForm">

                <div class="form-group">
                    <label for="header_id">Header ID : {{orderReference.id}}</label>
                    <input type="hidden" name="header_id" 
                    [(ngModel)]="orderReference.id" required readonly>
                    <input type="text" class="form-control"
                    [value]="orderReference.reference" readonly>
                </div>

                <div class="form-group">
                    <label for="product">Product</label>
                    <select class="form-control" ngModel name="product_id" 
                    (ngModelChange)="getPriceByProduct($event)">
                        <option value="" disabled selected hidden>--Select Product--</option>
                        <option *ngFor="let p of product" [ngValue]="p.id">{{p.product_name}}</option>>
                    </select>
                </div>

                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" name="price" [(ngModel)]="priceByProduct" class="form-control"
                    [value]="priceByProduct" required readonly>
                </div>

                <div class="form-group">
                    <table>
                        <tr>
                            <td>
                                <label>Quantity</label>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="number" class="form-control" 
                                ngModel name="quantity" value="1" required 
                                style="width: 80px;">
                            </td>
                            <td><button class="btn btn-success" (click)="onAddOrderDetail(addOrderDetail)">+</button></td>
                        </tr>
                    </table>
                </div>

                <table *ngIf="orderDetail.length !==0" class="table">
                    <thead>
                      <tr>
                        <th scope="col">Reference</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let od of orderDetail">
                        <th>{{od.reference}}</th>
                        <td>{{od.product_name}}</td>
                        <td>{{od.price}}</td>
                        <td>{{od.quantity}}</td>
                        <td>{{od.quantity * od.price}}</td>
                      </tr>
                      <tr>
                          <td colspan="4">Total Amount</td>
                          <td><input type="text" id="totalAmount" readonly [value]="this.totalAmount"></td>
                      </tr>
                    </tbody>
                  </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                    <button type="button" class="btn btn-primary" (click)="doneProcess()">Order</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Order Confirm-->
<div class="modal fade" id="orderConfirmModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Order</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h1>Mau Order Lagi?</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="goToOrder()">Order Lagi</button>
        </div>
      </div>
    </div>
  </div>

</div>