body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.grid-operator {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}

.grid-operator > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
}


.item0 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
}

.item10 > div {
  background-color: #2196F3;
}

.DEL {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 6;
  text-align: center;
}

.item10 {
  background-color: #2196F3;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
}


button {
  font-size: 1.2em;
  border-style: none;
  /*background-color: #d6e0f5;*/
}


button:hover {
  color: aliceblue;
  background-color: #2952a3;
  cursor: pointer;
  border: 2px solid white;
}

.calculator {
  position: relative;
  top: 150px;
  margin: 0 auto;
  max-width: 300px;
 
}

.userInput {
  position: relative;
  height: 80px;
  max-width: 100%;
  text-align: right;
  padding: 10px;
  font-size: 25px;
  /*border: 1px solid #193366;*/
  background-color: #d6e0f5;
}

.userEntry {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 5px;
  right:0;
}

.finalCalc{

  position: absolute;
  right:0;
  margin:5px;
  top:0;
  padding:0;
}

