<!-- Container -->
<div class="container" id="main-container">
  <h1>Category API</h1>

  <p>
    <button type="button" class="btn btn-primary" data-bs-toggle="collapse" (click)="onOpenModal(null!!, 'add')">
      [+] Tambah Data Category
    </button>
    <button type="button" class="btn btn-outline-primary ml-2" (click)="onMultipleSelected()">Multiple Select</button>
    <button *ngIf="tempSelectedId.length > 0" type="button" class="btn btn-outline-danger ml-2" (click)="onOpenModal(null!!, 'delete-selected')">Delete</button>
    <button class="btn btn-outline-secondary ml-2" (click)="createPDF()">Download PDF</button>
    <router-outlet></router-outlet>
  <div class="wrap">
    <div class="search">
      <input ngModel (ngModelChange)="searchCategoryAPI($event)" type="text" class="searchTerm" placeholder="Search...">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
  <p>


    <!-- Tampilan GetCategory Table -->

  <div class="row" #tabelCategory>
    <div  id="tabelCategory" class="col-12">
      <table class="table">
        <thead>
          <tr>
            <td scope="col">No</td>
            <td scope="col">Category Code</td>
            <td scope="col">Category Name</td>
            <td scope="col">Action</td>
            <td><input [ngModel]="selectedAll" *ngIf="multipleSelectIsEnabled" class="form-check-input" type="checkbox" (ngModelChange)="isSelectedAll()">
            </td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of tempCategory; index as i">
            <th>{{(records_per_page * (current_page-1)) + i + 1}}</th> 
            <td>{{cat.category_code}}</td>
            <td>{{cat.category_name}}</td>
            <td>
              <button (click)="onOpenModal(cat, 'edit')" class="btn btn-outline-primary"><i
                  class="fas fa-edit"></i></button>
              <button (click)="onOpenModal(cat, 'delete')" class="btn btn-outline-danger ms-3"><i
                  class="fa fa-trash"></i></button>
            </td>
            <td>
              <input [ngModel]="selectedAll" (ngModelChange)="isSelected(cat, $event)" *ngIf="multipleSelectIsEnabled"
                class="form-check-input" type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ul class="pagination align-items-center justify-content-end me-3">

    <li class="page-item"><button *ngIf="current_page > 1; else prevElse" type="button" class="btn btn-primary ml-3"
        id="btn_prev" (click)="prevPage()">Prev</button>
      <ng-template #prevElse>
        <button disabled type="button" class="btn btn-primary" id="btn_prev" (click)="prevPage()">Prev</button>
      </ng-template>
    </li>

    <li class="page-item"><button disabled="disabled" class="btn btn-secondary ml-3 mr-3"> {{current_page}}</button>
    </li>

    <li class="page-item"><button *ngIf="current_page < totalPages(); else nextElse" type="button"
        class="btn btn-primary" id="btn_next" (click)="nextPage()">Next</button>
      <ng-template #nextElse>
        <button disabled type="button" class="btn btn-primary" id="btn_next" (click)="nextPage()">Next</button>
      </ng-template>
    </li>

    <li class="page-item"><select [ngModel]="records_per_page" (ngModelChange)="select_records_per_page($event)"
        class="form-select  ml-3" name="records_per_page">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
      </select></li>

    <li class="page-item"><select [ngModel]="sortedBy" (ngModelChange)="setSortedBy($event)" class="form-select ml-3"
        name="records_per_page">
        <option value="category_code">Code</option>
        <option value="category_name">Name</option>
      </select></li>

    <li class="page-item"><select [ngModel]="mode" (ngModelChange)="setMode($event)" class="form-select ml-3"
        name="records_per_page">
        <option value="ASC">A-Z</option>
        <option value="DESC">Z-A</option>
      </select></li>
  </ul>

</div>
<!-- Akhir Container -->

<!-- Modal Add-->
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddCategory(addForm)">
          <div class="mb-3">
            <label for="categoryCode" class="form-label">Category Code</label>
            <input ngModel type="text" class="form-control" id="category_code" name="category_code"
              placeholder="Category Code" required>
          </div>
          <div class="mb-3">
            <label for="categoryName" class="form-label">Category Name</label>
            <input ngModel type="text" class="form-control" id="category_name" name="category_name"
              placeholder="Category Name" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-category-form" class="btn btn-secondary"
              data-bs-dismiss="modal">Tutup</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Simpan Data</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit-->
<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="mb-3">

            <input type="hidden" ngModel="{{  editCategory.id }}" name="id" id="id">

            <label for="categoryCode" class="form-label">Category Code</label>
            <input ngModel="{{ editCategory?.category_code }}" type="text" class="form-control" id="category_code"
              name="category_code" placeholder="Category Code" required>
          </div>
          <div class="mb-3">
            <label for="categoryName" class="form-label">Category Name</label>
            <input ngModel="{{ editCategory?.category_name }}" type="text" class="form-control" id="category_name"
              name="category_name" placeholder="Category Name" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-category-form" class="btn btn-secondary"
              data-bs-dismiss="modal">Tutup</button>
            <button (click)="onEditCategory(editForm.value)" type="button" class="btn btn-primary"
              data-bs-dismiss="modal">Edit Data</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Anda Yakin Ingin Menghapus {{deleteCategory.category_name}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
        <button (click)="onDeleteCategory(deleteCategory.id)" type="button" class="btn btn-danger"
          data-bs-dismiss="modal">Ya</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Multiple Delete-->
<div class="modal fade" id="deleteSelectedCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Selected Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Anda Yakin Menghapus Category?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
        <button type="button" class="btn btn-danger" (click)="deleteSelected()" data-bs-dismiss="modal">Hapus</button>
      </div>
    </div>
  </div>
</div>