<div class="container" id="main-container">
    <h1>Product API</h1>

    <p>
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" (click)="onOpenModal(null!!, 'add')">
            [+] Tambah Data Product
        </button>
    </p>

    
  <!-- Search -->
  <div class="wrap">
    <div class="search">
       <input ngModel (ngModelChange)="searchProductAPI($event)" type="text" class="searchTerm" placeholder="Search...">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Product Code</th>
                <th scope="col">Product Name</th>
                <th scope="col">Variant Name</th>
                <th scope="col">Category Name</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Stock</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of product; index as i">
                <th>{{i+1}}</th>
                <td>{{ p.product_code }}</td>
                <td>{{ p.product_name }}</td>
                <td>{{ p.variant_name }}</td>
                <td>{{ p.category_name }}</td>
                <td>{{ p.product_price }}</td>
                <td>{{ p.product_stock }}</td>
                <td>
                    <button (click)="onOpenModal(p, 'edit')" class="btn btn-outline-primary"><i class="fas fa-edit"></i></button>
                    <button (click)="onOpenModal(p, 'delete')" class="btn btn-outline-danger ms-3"><i class="fa fa-trash"></i></button>
                </td>
        </tbody>
    </table>

    <!-- Modal Add-->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddProduct(addForm)">

                        <div class="mb-3">
                            <label for="categoryname" >Category</label>
                            <select #selectedCategoryID name="category_id" class="form-control" (change)="getVariantFromCategoryAPI(selectedCategoryID.value)" required>
                                <option value="" disabled selected hidden>--Select Category--</option>
                                <option *ngFor="let cat of category" 
                                [value]="cat.id">{{cat.category_name}} 
                              </option >
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="variantname" >Variant</label>
                            <select ngModel name="variant_id" id="variant_name" class="form-control" required>
                                <option value="" disabled selected hidden>--Select Variant--</option>
                              <option *ngFor="let v of variant" 
                              [ngValue]="v.variant_id">{{v.variant_name}} 
                            </option >
                            </select>
                        </div>
  
                        <div class="mb-3">
                            <label for="productCode">Product Code</label>
                            <input ngModel type="text" class="form-control" id="product_code" name="product_code"
                                placeholder="Product Code" required>
                        </div>
                      
                        <div class="mb-3">
                            <label for="productName">Product Name</label>
                            <input ngModel type="text" class="form-control" id="product_name" name="product_name"
                                placeholder="Product Name" required>
                        </div>

                        <div class="mb-3">
                            <label for="productPrice">Product Price</label>
                            <input ngModel type="text" class="form-control" id="product_price" name="product_price"
                                placeholder="Product Price" required>
                        </div>

                        <div class="mb-3">
                            <label for="productStock">Product Stock</label>
                            <input ngModel type="text" class="form-control" id="product_stock" name="product_stock"
                                placeholder="Product Stock" required>
                        </div>
             
                        <div class="modal-footer">
                            <button type="button" id="add-variant-form" class="btn btn-secondary"
                                data-bs-dismiss="modal">Tutup</button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Simpan
                                Data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit-->
    <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form #editForm="ngForm">

                        <div class="mb-3">
                            <label for="categoryname" >Category</label>
                            <select #selectedEditID name="category_id" id="category_id" ngModel="{{editProduct.category_id}}" class="form-control"
                             (change)="getVariantFromCategoryAPI(selectedEditID.value)" required>
                                <option *ngFor="let cat of category" 
                                [value]="cat.id">{{cat.category_name}} 
                              </option >
                            </select >
                        </div>

                        <div class="mb-3">
                            <label for="variantname" >Variant</label>
                            <select name="variant_id" id="variant_id" ngModel="{{editProduct.variant_id}}" class="form-control" required>
                              <option *ngFor="let v of variant" 
                              ngValue="{{v.variant_id}}">{{v.variant_name}} 
                            </option >
                            </select >
                        </div>

                        <div class="mb-3">
                            <input type="hidden" ngModel="{{ editProduct.id }}" name="id" id="id">

                            <label for="productCode" class="form-label">Product Code</label>
                            <input ngModel="{{editProduct?.product_code}}" type="text" class="form-control" id="product_code" name="product_code"
                                placeholder="Product Code" required>
                        </div>
                        
                        <div class="mb-3">
                            <label for="productName" class="form-label">Product Name</label>
                            <input ngModel="{{editProduct?.product_name}}" type="text" class="form-control" id="product_name" name="product_name"
                                placeholder="Product Name" required>
                        </div>

                        <div class="mb-3">
                            <label for="productPrice" class="form-label">Product Price</label>
                            <input ngModel="{{editProduct?.product_price}}" type="text" class="form-control" id="product_price" name="product_price"
                                placeholder="Product Price" required>
                        </div>

                        <div class="mb-3">
                            <label for="productStock" class="form-label">Product Stock</label>
                            <input ngModel="{{editProduct?.product_stock}}" type="text" class="form-control" id="product_stock" name="product_stock"
                                placeholder="Product Stock" required>
                        </div>

                        <div class="modal-footer">
                            <button type="button" id="add-product-form" class="btn btn-secondary"
                                data-bs-dismiss="modal">Tutup</button>
                            <button (click)="onEditProduct(editForm.value)" type="submit" class="btn btn-primary" data-bs-dismiss="modal">Edit
                                Data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Delete-->
    <div class="modal" id="deleteProductModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Delete Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Anda Yakin Menghapus Product {{deleteProduct.product_name}}?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
              <button (click)="onDeleteProduct(deleteProduct.id)" type="button" class="btn btn-danger" data-bs-dismiss="modal">Ya</button>
            </div>
          </div>
        </div>
      </div>